@{
    ViewData["Title"] = "About";
}

<div class="title">
    <h2>@ViewData["Title"] Natalie</h2>
    
</div>
<div class="flex-container about">
    <h3>Detail-oriented and highly adaptable with experience as an entrepreneur.</h3>
    <p>A little about me: I am a civil engineer with a master's degree in Eco-technology and sustainable
development from Mittuniversitetet. After a few years working in the road industry, I wanted to work more
creative and so started my journey as a photographer. I opened my own business ten years ago with wedding photography, but expanded into a full-time job to include that as well
studio portraiture.
        <br /><br />
        This is when my interest was sparked for website building, online marketing and SEO services. When the pandemic came
it turned out that it was time for a new journey in web programming, which I had only worked a little with within my company, basically for my own projects and for friends.
Over the years I have learned, on my own, Wordpress, HTML and CSS. However, I felt I was missing out skills to go deeper into web development and wished I could build my own
Wordpress themes or at least customizing existing themes. In this way better able to deliver solutions. It resulted in my returning to university.
        <br /><br />
I am a multifaceted person who has developed a wide variety of skills and experience over the years in many areas. I like to be creative and produce services, and build applications that are functional, useful and simple to use, including building apps or websites, creating graphic advertising material for the web or print, organize workspaces and workflows, and build on customer relationships.</p>
    <img src="img/natalie.jpg" />
</div>


